.projects_wrap {
	display: flex;
	justify-content: left;
	margin-bottom: 20px;
}

.projects_wrap img {
	font-size: 20px;
	color: #2d7788;
	margin-right: 10px;
}

.projects_wrap h1 {
	font-size: 20px;
	font-weight: 500;
	color: #2d7788;
}

.project-desc p {
	color: #545e6c;
	line-height: 1.3;
}

.projects-box .text-left a {
	color: #2d7788;
}

.projects-box .text-left a:hover {
	text-decoration: underline;
	color: #2d7788;
}

.projects-box p {
	color: #545e6c;
	line-height: 1.3;
}


