.wrapper {
	background: #42A8C0;
	max-width: 960px;
	margin: 0 auto;
	position: relative;
	-webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar-wrapper {
	background: #4bafc5;
	position: absolute;
	right: 0;
	width: 270px;
	height: 100%;
	min-height: 800px;
	color: #fff;
}

.main-wrapper {
	background: #fff;
	padding: 30px;
	padding-right: 280px;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {

	.App {
		padding: 20px;
	}	

	.sidebar-wrapper {
		position: static;
		width: inherit;
	}

	.main-wrapper {
		padding: 16px;
	}
	

	/* .img-rounded {
		max-width: 15%;
		border-radius: 50%;
	} */

	
}

@media (max-width: 280px) {

	.App {
		padding: 5px;
	}

}

/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	
}

/* Large devices (large desktops, 1200px and up) */
/* Ex-Large devices (large desktops, 1200px and up) */


